<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="esri-github" value="https://nuget.pkg.github.com/esri/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="esri-github">
      <package pattern="Esri.Calcite.*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <esri-github>
      <add key="Username" value="%ESRI_GH_PACKAGES_USER%" />
      <add key="ClearTextPassword" value="%ESRI_GH_PACKAGES_PAT%" />
    </esri-github>
  </packageSourceCredentials>
</configuration>
